<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
    <body>
        <div class="container">
            <hr>
            <h2>Jogos vendidos</h2>
            <a class="btn btn-success" href="/admin/games/new">Adicionar novos jogos</a>
            <hr>
            <form action="/game/search" method="post">
                <label>Procure jogos por aqui: <input type="text" name="search" class="form-control"></label>
                <button class="btn btn-success">Buscar</button>
            </form>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do jogo</th>
                        <th>Código de barras</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Show all items in database in the sales table -->
                    <% sales.forEach(sale => {  %>    
                        <tr>
                            <td><%= sale.id %></td>
                            <td><%= sale.title %></td>
                            <td><a href="/barcodes/search/<%= sale.barcodes.barcode %>"><%= sale.barcodes.barcode %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <hr>
            <!-- decision structure to know if there will be a next page -->
            <div class="row">
                <div class="col col-12">
                    <% if(result.page > 2) { %>
                        <a href="/sales/page/<%= result.page - 1 %>" style="float: left;"> <<< Prev </a>
                    <% } else if(result.page == 2) { %>
                        <a href="/admin/games" style="float: left;"> <<< Prev </a>
                    <% } %>

                    <% if(result.next) { %>
                        <a href="/sales/page/<%= result.page + 1 %>" style="float: right;">Next >>></a>
                    <% } %>
                </div>
            </div>
            <hr>
        </div>
    </body>
<%- include('../../partials/footer.ejs') %>