<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body> 
    <header>
        <h1>Nando Games</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem officiis.</p>
        <a href="/" class="btn btn-warning">Catálogo</a>
    </header>
    <hr>
    <div class="container">
        <h1>Adcionados recentemente</h1>
        <section class="flex">
            <% games.forEach(game => { %>
                <!-- Show games for sale -->
                <div>
                    <img src="/images/games/<%= game.image %>" alt="Imagem do jogo que está sendo vendido" width="100%">
                    <p><%= game.title %></p>
                </div>
            <% }) %>
        </section>
    </div>
</body>
<hr>
<%- include('partials/footer.ejs') %>