<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body> 
    <header>
        <h1>Nando Games</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis exercitationem officiis.</p>
        <a href="/games/page/sale/1" class="btn btn-outline-warning">Catálogo</a>
    </header>
    <hr>
    <div class="container">
        <h3>Adcionados recentemente: </h3>
        <div class="row">
            <% games.forEach(game => { %>
                <div id="cards-sale" class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/games/<%= game.image %>" width="100%" class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
                        <div class="card-body">
                            <h3><%= game.title %></h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-success">Comprar</button>
                                </div>
                                <h4>R$ <%= game.price %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<hr>
<%- include('partials/footer.ejs') %>