<%- include('../../partials/header.ejs') %>
    <body>
        <%- include('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <div class="card mt-4">
                <div class="card-header">
                    <h2>Editar jogos</h2>
                    <a href="/games/update/image/<%= game.id %>">Atualizar imagem? </a>
                </div>
                <div class="card-body">
                    <form action="/games/update/image" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%= game.id %>">
                        <input type="text" name="title" class="form-control" placeholder="Título" value="<%= game.title %>"><br>
                        <input type="text" name="price" class="form-control" placeholder="00.00" value="<%= game.price %>"><br>
                        <input type="url" name="url" class="form-control" placeholder="Link para compra" value="<%= game.link %>"> 
                        <label> Categoria / Gênero: </label>
                        <select name="category" class="form-control">
                            <% categories.forEach(category => { %>
                                <% if (category.id == game.categoryId) { %>
                                    <option value="<%= category.id %>" selected><%= category.title %></option>
                                <% } else { %>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                <% } %>
                            <% }) %>
                        </select><br>
                        <input type="number" name="stock" class="form-control" placeholder="Quantidade no estoque" value="<%= game.stock %>"><br>
                        <label>Classificão indicativa: </label>
                        <select name="indicated" class="form-control">
                            <option value="1">Livre</option>
                            <option value="2">10+</option>
                            <option value="3">12+</option>
                            <option value="4">14+</option>
                            <option value="5">18+</option>
                        </select><br>
                        <textarea name="desc" id="desc" class="form-control" placeholder="Descrição"></textarea><br>
                        <button type="submit" class="btn btn-success btn-block">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="content" style="display: none;">
            <%- game.description %>
        </div>
    </body>    
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#desc",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("desc").setContent($("#content").html()); // => Passa um conteúdo para a TextArea pegando o conteúdo da DIV
        }
    })
</script>