<%- include('../../partials/header.ejs') %>
    <body>
        <%- include('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <div class="card mt-4">
                <div class="card-header">
                    <h2>Adicionar jogo novo</h2>
                </div>
                <div class="card-body">
                    <form action="/games/create" method="POST" enctype="multipart/form-data">
                        <input type="text" name="title" class="form-control" placeholder="Título"><br>
                        <input type="file" name="image" class="form-control" placeholder="Imagem"><br>
                        <input type="text" name="price" class="form-control" placeholder="00.00"><br>
                        <input type="url" name="url" placeholder="Link de compra" class="form-control"><br>
                        <label>Categoria / Gênero:</label>
                        <select name="category" class="form-control">
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% }) %>
                        </select><br>
                        <input type="number" name="stock" class="form-control" placeholder="Quantidade no estoque"><br>
                        <label>Classificão indicativa: </label>
                        <select name="indicated" class="form-control">
                            <option value="1">Livre</option>
                            <option value="2">10+</option>
                            <option value="3">12+</option>
                            <option value="4">14+</option>
                            <option value="5">18+</option>
                        </select><br>
                        <textarea name="desc" id="desc" class="form-control" placeholder="Descrição"></textarea><br>
                        <button type="submit" class="btn btn-success btn-block">Criar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>   
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#desc",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script> 
<%- include('../../partials/footer.ejs') %>
