<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
    <body>
        <div class="container">
            <hr>
            <h2>Código de barras</h2>
            <a class="btn btn-success" href="/admin/barcode/new">Adicionar novos jogos</a>
            <hr>
            <form action="/game/search" method="post">
                <label>Procure jogos por aqui: <input type="text" name="search" class="form-control"></label>
                <button class="btn btn-success">Buscar</button>
            </form>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código de barras</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Show all items in database in the sales table -->
                    <% barcode.forEach(barcode => {  %>    
                        <tr>
                            <td><%= barcode.id %></td>
                            <td><%= barcode.barcode %></td>
                            <td><a href="/admin/barcode/new" class="btn btn-success">Adicionar novos jogos</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <hr>
        </div>
    </body>
<%- include('../../partials/footer.ejs') %>