<%- include("../partials/header.ejs") %>
<%- include("../partials/homenavbar.ejs") %>
    <body>
        <div class="container">
            <hr>
            <h1>Realizar a compra: </h1>
            <hr>
            <div class="row mb-6" id="grid-purchase">
                <div class="col-6 col-lg-6">
                    <img src="/images/games/<%= game.image %>" width="100%" alt="">
                </div>
                <div class="col-6 col-lg-6">
                    <div class="card-deck text-center">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h2 style="white-space: pre-wrap;display: inline-block;"><%= game.title %></h1>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">R$ <%= game.price %></h1>
                                <ul class="list-unstyled  mt-3 mb-4">
                                    <li>Quantidade no estoque: <%= game.stock %>;</li>
                                    <li>Jogo vendido em mídia física;</li>
                                    <li>Link da página de compra no <a href="<%= game.link %>"> Facebook</a></li>
                                    <li>Aceitamos pagamentos com cartão.</li>
                                    <li><img src="/images/site/<%= game.indicated %>" alt="Classificação indicativa"></li>
                                </ul>
                                <label> <i><b>Contactar o vendedor pelo:</b></i></label>
                                <br>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-outline-primary">Facebook</a>
                                    <a href="#" class="btn btn-outline-success">WhatsApp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<%- include("../partials/footer.ejs") %>